body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #0094f0;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

.bio, .skills, .contact {
    background: #ffffff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #052336;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    background: #e2e2e2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #178cd4;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}